.bg-body-hamster {
    background-color: #000324;
}

.navbar-nav .nav-link {
    font-family: 'Doris';
    color: white;
    font-size: 20px;
    text-align: end;
    display: flex;
    padding: 0px;
}

.custom-toggler {
    background-color: #ffffff; /* Change to your preferred color */
    border-color: #000000; /* Change to match the background color or customize as needed */
    
  }

#header-bg {

    background-image: url('/hotelMarkupAssets/header.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 500px;
    width: 100%;
    opacity: 1;
}

#header-field {

    max-height: 232px;
    max-width: 700px;
    height: 100%; 
    width: 100%;
    /* UI Properties */
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#room-bg {
    background-image: url('/hotelMarkupAssets/bg.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 738px;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-square {
    border-radius: 0;
}

#room-bg li {
    font-size: 14px;
  }